<!-- <a [matTooltip]="'TOOLTIP.FACEBOOK' | translate" href="https://www.facebook.com/EliteSkillsksa" target="blank"
  class="social-icon">
  <i class="mdi mdi-facebook" viewBox="0 0 24 24" [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i>
</a> -->


<a [matTooltip]="'TOOLTIP.WHATSAPP' | translate" href="https://api.whatsapp.com/send?phone=966559218881" target="blank">
  <mat-icon matSuffix color="primary"><i class="mdi mdi-whatsapp"></i></mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.YOUTUBE' | translate" href="https://www.youtube.com/channel/UC3t9JymC0gXSVYlcgPg0Xnw"
  target="blank">
  <mat-icon matSuffix color="primary"><i class="mdi mdi-youtube" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i></mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.INSTAGRAM' | translate" href="https://www.instagram.com/EliteSkillsksa" target="blank"
  >
  <mat-icon matSuffix color="primary"><i class="mdi mdi-instagram" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i>
  </mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.TWITTER' | translate" href="https://twitter.com/EliteSkillsksa" target="blank"
  >
  <mat-icon matSuffix color="primary"><i class="mdi mdi-twitter" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i></mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.LINKEDIN' | translate" href="https://www.linkedin.com/EliteSkillsksa" target="blank"
  >
  <mat-icon matSuffix color="primary"><i class="mdi mdi-linkedin" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i></mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.SNAPCHAT' | translate" href="https://www.snapchat.com/add/eliteskillsksa" target="blank"
  >
  <mat-icon matSuffix color="primary"><i class="mdi mdi-snapchat" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i></mat-icon>
</a>
<a [matTooltip]="'TOOLTIP.TIKTOK' | translate" href="https://www.tiktok.com/@eliteskillsksa" target="blank"
  >
  <mat-icon matSuffix color="primary"><i class="mdi mdi-music-box" viewBox="0 0 24 24"
      [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]"></i></mat-icon>
</a>