<!-- <button mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger" class="lang-btn">
    <img [src]="'assets/images/flags/'+translateService.currentLang+'.svg'" width="18" [alt]="translateService.currentLang" class="mat-elevation-z1">   
    <span fxShow="false" fxShow.gt-md class="uppercase flag-name">{{langName}}</span>
    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
</button>
<mat-menu #langMenu="matMenu" class="app-menu-panel">
    <span (mouseleave)="langMenuTrigger.closeMenu()">  
        <button *ngFor="let lang of translateService.getLangs()" mat-menu-item (click)="changeLang(lang)">  
            <img [src]="'assets/images/flags/'+lang+'.svg'" width="18" [alt]="lang" class="mat-elevation-z1"> 
            <span class="flag-name">{{getLangName(lang)}}</span> 
        </button> 
    </span>
</mat-menu> -->

<div class="language-picker-area">
    <div class="picker-label">
        <select (change)="selectLanguage($event)" class="language-picker">
            <option value="ar">عربي</option>
            <option value="en">English</option>
        </select>
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>


    </div>
    <div class="content">
        <h1>{{'HOME' | translate}}</h1>
    </div>
</div>